.container {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.row{
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column{
  padding: 2rem;
}

.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  color: #4a4a4a;
  padding: 1.25rem;
  width: 100%;
  max-width: 500px;
  min-width: 170px;
}


.input{
  max-width: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 0.375em;
  color: #363636;
  border-style: none;
  border: solid .5px  #e6e6e6;
  padding: .5rem;
  margin: 0 .5rem;
}

.input:focus{
  outline: solid 1px #3e88ef;
  border-color: transparent;
}


.button{
  border-style: none;
  padding: .5rem;
  border-radius: 4px;
  background-color: #3e88ef;
  color: white;
  width: auto;
  cursor: pointer;
}


.todo_box{
  margin-top: 1rem;
  padding: .5rem;
  background-color: #a7a7a7;
  width: 100%;
  border-radius: 4px;
  display: flex;
  word-break: break-word;
  align-items: center;
}

.todo_box_body{
  color: white;
  width: 75%;
}

.todo_box_action{
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}